/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 29, 2015, 8:32:06 PM
    Author     : rostomsahakian
*/
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
    font-family: 'Futura Std Book';
    background-color:#000;
    color:#fff;
}

@font-face {
    font-family: 'Futura Std Book';
    src: url('../fonts/futurastd-book-webfont.eot');
    src: url('../fonts/futurastd-book-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/futurastd-book-webfont.woff') format('woff'), url('../fonts/futurastd-book-webfont.ttf') format('truetype'), url('../fonts/futurastd-book-webfont.svg#futura_stdbook') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1,h4 {
    text-transform: uppercase;

}
.rock-brand-in-box{
    text-transform: uppercase;
}
.rock-item-name{
    text-transform: uppercase;
}
.rock-item-name a{
    color: #fff;
    font-weight: bold;
}
.rock-item-name a:hover{

}
.rock-top-banner{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e5e5e5+74 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 74%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 74%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 74%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

}
.rock-top-banner ul li{
    height: 10px !important;
}
.rock-top-banner li a{
    min-height: 20px !important;
    font-family: Montserrat, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    color: #000 !important;
}
.rock-top-banner li a:hover{
    min-height: 20px !important;
    font-family: Montserrat, sans-serif;
    font-size: 12px !important;
    font-weight: bold;
    color: #3e3e3e !important;
}

.rock-nav-bar-container{
    width: 100%;
    margin: auto 0;
    background: #fff;

}
.rock-mid-bar-container{
    margin-top: 70px !important; 
    min-height: 70px !important;
}
.rock-search-btn{
    background-color: #E21A2C !important;
}
.rock-search-btn input[type="submit"]{
    font-size: 13px;
    font-weight: bold;

}
.rock-breadcrumb a{
    font-size: 10px !important;

}

.rock-shopping-cart{
    /*margin-top: 10px !important;*/
    text-align: center !important;
    margin-bottom:5px; 
}
.rock-cart-top-btn{
    background-color: #DA2430 !important;
    border-color:  #DA2430 !important;
}
.rock-shopping-cart a{

    color: #fff;

}
.rock-shopping-cart a:hover{
    color: #fff !important;
    text-decoration: underline;
}
.rock-shopping-cart a:visited{
    color: #fff;
}
.rock-main-container{
    /*    min-height: 1000px !important;*/
    background-color: #000;
    margin-top: 30px;
    /*width: 1200px !important;*/
}
.rock-home-carousel{
    padding: 5px;
}
.rock-background-color-manager{
    background-repeat:repeat;

}
.rock-home-side-list{
    background-color: #B81D22 !important;
    color: #fff !important;

}
.rock-item-image-holder{
    border: 1px solid #000;
    padding: 0px;
    margin-bottom: 80px;
    width:29%;
    margin-right: 70px;
    text-align: center;
    height: 401px;
    width: 200px;
    position: relative;

}
.rock-item-image-holder img{

    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
    border:none !important;

}
.rock-item-image{
    border:none !important;
}
.rock-item-image-holder p {
    font-size: 12px;
    color: #fff !important;
    margin-top: 5px; 
}
.rock-item-captions{
    background-color: #000;
    height: 80px;
    top: 410px;
    width:100%;
    left: 0px;
    position: absolute;

}

span.rollover {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background: #000;
    cursor: pointer;
    height: 408px;
    width: 200px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    left: 0px;
    top: 0px;
}

span.rollover:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}
.rock-items-col-12{
    margin-left: 50px !important;
}
.rock-col-8 {
    color:#fff;
}

.col-md-3 a:hover{
    color:#d92736 !important;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #d92736 !important;
}
.rock-brand-in-box{
    float: right;
    border: 1px solid #000;
    color: #fff;
    padding: 5px;
    background-color: #000;
    z-index: 11;
    position: absolute;
    right: 0px;
    font-size: 11px;
    text-decoration: none;
}
.rock-brand-in-box:hover{
    text-decoration: none !important;
    color:#e5e5e5;
}
.rock-view-details-in-box{

    border: 1px solid #000;
    padding: 5px;
    z-index: 10;
    position: absolute;
    right: 155px;
    top:277px;
    opacity: 0.6;
    background-color: #000;
    font-size: 11px;
    text-decoration: none;
    color: #fff;
}
.rock-view-details-in-box a{

}
.rock-view-details-in-box a:hover{

}
.rock-view-details-in-box:hover{
    opacity: 1;

    background-color: #000;
    text-decoration: none !important;
    color:#fff;

}
.rock-product-link{
    z-index: 20;
}
.rock-category-in-box{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(0, 0, 0);
    padding: 6px;
    color: rgb(255, 255, 255);
    font-size: 11px;
}

.rock-item-page-image-div{
    overflow: hidden;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin-bottom: 20px;
    /*height: 453px;*/
    text-align: center;
}
.rock-item-page-image-div img{
    width: 60%;

}
.rock-quantity-div-select{
    margin-top: 5px;
    color:#000 !important;
}
.rock-quantity-div-select select{
    width:130px;
}
.rock-add-to-cart-button{
    width: 100% !important;
    margin-bottom: 20px;
}
.rock-item-desc{
    padding: 15px;
    min-height: 150px;
/*    text-align: justify;*/
}
.footer-main-wrapper{
    background-color: #000;
}
.footer-main-wrapper ul{
    margin-top: 15px;
}
.footer-main-wrapper ul li{
    list-style: none;
}
.footer-main-wrapper ul li a{
    color:#fff;
}
.footer-main-wrapper h4{

    color:#fff;

}
.rock-footer-div{
    margin-top: 25px;
}
.rock-footer-all-rights{

    text-align: center !important;
    margin-top: 20px;
    color: #fff;


}
.rock-footer-all-rights a{
    color: #DDDDDD !important;
    text-decoration: underline;
}
.rock-footer-all-rights a:hover{
    color:#EA3A3C;
}
.rock-list-group-heading{
    font-size: 13px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    background-color: #d92736;
    color: #fff;
    font-weight: bold;
    min-height: 51px;

}
.rock-list-group-item{
    font-size: 13px !important;
}
.rock-item-page-title{
    margin-left: 0px;
}
.rock-top-footer{
    margin-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
}
.rock-top-footer a{
    vertical-align: middle !important;
}
.rock-social-media-footer{
    margin-top: 16px;
}
.rock-social-media-footer a img{
    background-color: #fff;
    border-radius: 20% !important;
}
.rock-social-media-footer a{
    vertical-align: middle !important;
    padding-bottom: 6px !important;
}
.rock-top-footer-newsletter{
    margin-top: 10px;
    color:#fff;

}
.rock-top-footer-newsletter h4{
    margin-top: 16px;
    color:#000;
}
.rock-top-footer-newsletter-form {
    margin-top: 16px;
}

.rock-newsletter-h4 i {
    color: #000;
}
.rock-input-button{
    background-color: #EA3A3C !important;
    border-color: #EA3A3C !important;
    color: #fff !important;
}
.rock-contact-us-footer{
    color:#fff;
}
.rock-bottom-footer-div{
    background-color: #000;
    /* border-top:1px solid #EA3A3C  !important;*/
}
.rock-bottom-footer-div a{
    color: #fff;
}
.rock-bottom-footer-div ul{
    list-style: none;
}
.form-control:focus {
    border-color:#d92736 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,39,67,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(217,39,67,.6);
}
.btn-default, .btn-danger {
    background-color: #d92736 !important;
    border-color: #d92736 !important;
    color: #fff !important;
}

.rock-bottom-footer-div h4{
    color:#fff;

    margin-left: 35px;
}
.rock-payment-options {
    list-style: none;
    font-size: 9px !important;
}
.rock-payment-options li{
    display: inline-block;

}
.rock-payment-options li a img{
    margin-top: 10px;
}
.rock-payment-options a img{
    border:0px !important;
}
.rock-bottom-row{
    margin-top:15px;
}
@media screen and (max-width: 768px) {
    .rock-item-page-title{
        margin-left: 0 !important;
        text-align: center;
        font-size: 15px !important;
        font-weight: bold !important;
    }
}
.rock-pagination{
    /*border: 1px solid #ddd;*/
    /*margin-bottom: 30px;*/
    display: inline-block;
    /*width: 100%;*/
    /*padding: 6px;*/
}
.rock-pagination-top.pagination{
    margin: 0px !important;
}
.rock-pagination-top{
    max-height: 30px;
    float: right;
}
.rock-top-filter-container{
    width:88%;
    /*margin-left: 16px;*/
    text-align: right !important;
}

.rock-testimonials {
    width:350px;
}
.rock-testimonials blockquote {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: inset 0 2px 0 rgba(217, 39, 54, 0), 7px 5px 18px rgba(217,39,54,0.6);
    border-left: none !important;
}

.rock-testimonials blockquote p {
    font-family: 'Alegreya', serif;
    font-size: 24px;
    color: #b4b4b4;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
    text-indent: 100px;
    position: relative;
}

.rock-testimonials blockquote p:before{
    content: '\201C';
    font-family: serif;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    font-size: 175px;
    top: 0px;
    left: -105px;
    color: rgba(217, 39, 54, 1);
    text-shadow: 7px 14px 10px rgba(0, 0, 0, 0.1);
}

.rock-testimonials blockquote:after, .rock-testimonials blockquote:before {
    top: 55%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.rock-testimonials .tl-author {
    font-family: 'Alegreya SC', serif;
    font-weight: 700;
    font-size: 18px;
    color: rgba(217, 39, 54, 1);
    text-shadow: 0 1px 1px rgba(255,255,255,0.7);
}

.rock-testimonials .tl-attribution {
    text-align: right;
    padding: 20px 100px 20px 20px;
    position: relative;
}

.rock-testimonials blockquote:before {
    border-top-color: rgba(0,0,0,0.01);
    border-width: 11px;
    left: 65%;
    margin-left: -11px;
}

.rock-testimonials blockquote:after {
    border-top-color: #ffffff;
    border-width: 10px;
    left: 65%;
    margin-left: -10px;
    position:relative;
    bottom:-64px;
}

.rock-testimonials .tl-thumb {
    display: block;
    width: 70px;
    height: 70px;
    border: 5px solid #fff;
    border-radius: 50%;
    background: url(../../../rock_frontend/frontend_assets/images/page_id_577b587f1a027_images/image_577b587f1a027_2.png) no-repeat center center;
    position: absolute;
    right: 10px;
    bottom: 5px;
    box-shadow: inset 1px 1px 5px rgba(217,39,54,67), 0 2px 3px rgba(217,39,54,67);
}

.rock-related-items {
    border: 1px solid #000;
    /*padding: 10px;*/
    margin-bottom: 80px;
    width:29%;
    margin-right: 70px;
    text-align: center;
    height: 296px;
    width: 140px;
    position: relative;
}

.rock-related-items span.rollover {
    opacity: 1;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    background: #000;
    cursor: pointer;
    height: 290px;
    width: 140px;
    position: absolute;
    z-index: 10;
    opacity: 0;
    left: 0px;
    top: 0px;
}

.rock-related-items .rock-item-captions {
    background-color: #000;
    height: 80px;
    top: 305px !important;
    width: 100%;
    left: 0px;
    position: absolute;
}

.rock-related-items span.rollover:hover {
    opacity: .7;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -webkit-transition: -webkit-transform 1s;
    -webkit-box-shadow: 0px 0px 4px #000;
    -moz-box-shadow: 0px 0px 4px #000;
    box-shadow: 0px 0px 4px #000;
}
.rock-policies-page ol li {
    background-color: #000 !important;
}
.rock-policies-page ol li a{
    color:#fff !important;
}
.rock-policies-page ol li a:hover{
    color:#DA2431 !important;
}
.rock-policies-page{
    margin-bottom: 50px;
}
.rock-flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.rock-warning-alert{
    background-color: #D92736 !important;
    border-color: #D92736 !important;
    color: #fff !important;
}
.rock-cart-del-button{
    background-color: transparent !important;
    border:none !important;
    color: rgb(221, 57, 64) !important;
}
.rock-cart-panel{
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}
.rock-cart-total ul li{
    color: #000 !important;
}
.rock-cart-button-div{
    text-align: center;
}
.rock-cart-image-td{
    width: 140px !important;
}
.rock-cart-image-td img{

    width: 70%;
}
.rock-check-out-step-1-p-heading{
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
}
.rock-sign-in-guest-div{
    margin-top: 90px !important;
    text-align: center;
}
.rock-or-divider{
    margin-top: 96px !important;
    color:#000 !important;
    text-align: center;

}

.rock-or-divider span{
    font-size: 17px !important;
    text-transform: uppercase;
    font-weight: bold;
}
.rock-check-out-main-div {
    color: #000 !important;
}
.rock-cc-validator-image{
    position: absolute;
    top: 27px;
    right: 20px;
}
#expire{
    width:80px !important;
}
#expire_month{
    position: absolute;
    top: 95px;
    left: 106px;
    width: 46px !important;
}
#slashes{
    position: absolute;
    top: 100px;
    left: 97px;
}
#cvv{
    width:80px !important;
}

.rock-check-out-alert-warning .alert-warning {

    background-color: #DA2430 !important;
    color: #fff !important;
    font-size: 14px !important;
    border-color: #DA2430 !important;
}
.rock-check-out-alert .close{
    opacity: 1 !important;
    color: #fff !important;
}
.rock-check-out-alert-sucess .alert-warning{
    background-color: #1D9D74 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px !important;
    border-color: #1D9D74 !important;
}
#p-headers{
    padding: 5px !important; 
    background-color: #A0A0A0 !important;
}

.rock-front-end-accounts label{
    color: #000 !important;
}
.rock-warning-message .alert-warning {

    background-color: #DA2430 !important;
    color: #fff !important;
    font-size: 14px !important;
    border-color: #DA2430 !important;
}
.rock-warning-message .close{
    opacity: 1 !important;
    color: #fff !important;
}
.rock-success-message .alert-warning{
    background-color: #1D9D74 !important;
    color: #fff !important;
    font-weight: bold;
    font-size: 14px !important;
    border-color: #1D9D74 !important;
}
.rock-accounts{
    color: #000 !important;
}
.rock-404{
    background: #fff !important;
    color: #000;
    margin-bottom: 30px !important;
}
.rock-review-order-btn-div{
    text-align: right !important;
}
.rock-flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.rock-flexible-container iframe,   
.rock-flexible-container object,  
.rock-flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.AuthorizeNetSeal{
    margin-top: 5px !important;
    margin-left: 100px !important;
}
.wholesale-forms{
    color: #000 !important;
}
.rock-free-shipping {
    color:red;
}
.wholesaler-is-on{
    margin-bottom: 100px !important;
}
